.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

#cgroupdata, #clickables {
	font-size: 36px;
  text-align: left;;
}

img {
	max-height: 2em;
}