.card {
font-family: arial;
font-size: 36px;
text-align: center;
color: black;
background-color: white;
}

.cardinfo {
	font-size: 16px;
}

.phrase {
	color: #00FF00;
}

.verb {
	color: #FF0000;
}

.adjective {
	color: #FFFF00;
}

.masculine {
	color: #0000FF;
}

.feminine {
	color: #FF00FF;
}

.neuter {
	color: #00FFFF;
}


.utrum {
	color: #80FF80;
}

.textSvg{
	height: .8em;
	padding: 0px;
	margin-left: -8px;
}

.hasContext {
	font-size: .7em;
	opacity: 70%;
}

.error {
	color: #FF0000;
	background-color: #00FFFF;
}

.small {
	font-size: 0.5em;
	color: white;
	opacity: 70%;
}

.contSent {
	font-size: 0.7em;
}

.queContext, .ansContext{
	font-size: 0.7em;
}